docs/node-red-arduino.json
[{"id":"d6835027.b3841","type":"inject","z":"585164b6.5dc77c","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":116,"y":113,"wires":[["b5e50c4e.6ff48"]]},{"id":"c125b132.7fb6d","type":"http request","z":"585164b6.5dc77c","name":"WRITE","method":"POST","ret":"obj","url":"","tls":"","x":662,"y":126,"wires":[[]]},{"id":"6857785f.0b79e8","type":"inject","z":"585164b6.5dc77c","name":"ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":117,"y":75,"wires":[["b5e50c4e.6ff48"]]},{"id":"b5e50c4e.6ff48","type":"function","z":"585164b6.5dc77c","name":"WHITE LED","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = 5;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"192.168.0.200\", \n    \"port\": \"502\", \n    \"slave\": 1, \n    \"addr\": 100, \n    \"data\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":469,"y":94,"wires":[["c125b132.7fb6d"]]},{"id":"1587895c.a15187","type":"inject","z":"585164b6.5dc77c","name":"OFF","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":116,"y":207,"wires":[["b99f4182.2049f"]]},{"id":"9d51e2c1.d0da","type":"inject","z":"585164b6.5dc77c","name":"ON","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":115,"y":170,"wires":[["b99f4182.2049f"]]},{"id":"b99f4182.2049f","type":"function","z":"585164b6.5dc77c","name":"BLUE LED","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = 5;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"192.168.0.200\", \n    \"port\": \"502\", \n    \"slave\": 1, \n    \"addr\": 200, \n    \"data\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":164,"wires":[["c125b132.7fb6d"]]},{"id":"245bce1a.e10542","type":"inject","z":"585164b6.5dc77c","name":"Emit 1s","topic":"","payload":"","payloadType":"num","repeat":"0.5","crontab":"","once":false,"x":126,"y":31,"wires":[["27e43830.2b0a78"]]},{"id":"27e43830.2b0a78","type":"function","z":"585164b6.5dc77c","name":"Flip","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n\n\nif ((count % 2) === 0) {\n   msg.payload = 0;\n} else {\n   msg.payload = 1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":278,"y":32,"wires":[["b5e50c4e.6ff48"]]}]