docs/node-red.json
[{"id":"49f186f8.3f31b8","type":"inject","z":"67b204c8.85945c","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":40,"wires":[["a3b75c4f.7e346"]]},{"id":"a3b75c4f.7e346","type":"http request","z":"67b204c8.85945c","name":"API Version","method":"GET","ret":"obj","url":"http://web:8080/api/","tls":"","x":374,"y":40,"wires":[["ec6aa953.7aaf38"]]},{"id":"ec6aa953.7aaf38","type":"debug","z":"67b204c8.85945c","name":"Result","active":true,"console":"false","complete":"payload","x":694,"y":40,"wires":[]},{"id":"eee0c0c9.3b5aa","type":"inject","z":"67b204c8.85945c","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":80,"wires":[["5a166d4d.34dfb4"]]},{"id":"5a166d4d.34dfb4","type":"http request","z":"67b204c8.85945c","name":"Get Connection Timeout","method":"GET","ret":"obj","url":"http://web:8080/api/mb/tcp/timeout","tls":"","x":414,"y":80,"wires":[["8943a44b.bb99b8"]]},{"id":"8943a44b.bb99b8","type":"debug","z":"67b204c8.85945c","name":"Result","active":true,"console":"false","complete":"payload","x":694,"y":80,"wires":[]},{"id":"d78294cd.5fc098","type":"inject","z":"67b204c8.85945c","name":"Input","topic":"","payload":"{ \"timeout\": 210000 }","payloadType":"json","repeat":"","crontab":"","once":false,"x":114,"y":120,"wires":[["c8403701.e90a18"]]},{"id":"c8403701.e90a18","type":"http request","z":"67b204c8.85945c","name":"Set Connection Timeout","method":"POST","ret":"obj","url":"http://web:8080/api/mb/tcp/timeout","tls":"","x":414,"y":120,"wires":[["31de6086.d2ed8"]]},{"id":"31de6086.d2ed8","type":"debug","z":"67b204c8.85945c","name":"Result","active":true,"console":"false","complete":"payload","x":694,"y":120,"wires":[]},{"id":"af064089.c4d45","type":"http request","z":"67b204c8.85945c","name":"WRITE","method":"POST","ret":"obj","url":"","tls":"","x":554,"y":280,"wires":[["6a0dc1e1.4a203"]]},{"id":"6a0dc1e1.4a203","type":"debug","z":"67b204c8.85945c","name":"Result","active":true,"console":"false","complete":"payload","x":694,"y":280,"wires":[]},{"id":"c4e2f1e.5fb2f1","type":"function","z":"67b204c8.85945c","name":"Single bit","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"slave\", \n    \"port\": \"502\", \n    \"slave\": 1, \n    \"addr\": 10, \n    \"data\": 1\n};\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":160,"wires":[["af064089.c4d45"]]},{"id":"dfc3927b.fa8e","type":"inject","z":"67b204c8.85945c","name":"FC5","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":160,"wires":[["c4e2f1e.5fb2f1"]]},{"id":"e8438b39.cbd038","type":"function","z":"67b204c8.85945c","name":"Dec","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"slave\", \n    \"port\": \"502\", \n    \"slave\": 1, \n    \"addr\": 10,\n    \"hex\": false,\n    \"data\": \"22\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":200,"wires":[["af064089.c4d45"]]},{"id":"9c016224.5862b","type":"function","z":"67b204c8.85945c","name":"Hex","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"slave\", \n    \"port\": \"502\", \n    \"slave\": 1,\n    \"addr\": 10,\n    \"hex\": true,\n    \"data\": \"ABCD\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":240,"wires":[["af064089.c4d45"]]},{"id":"693c4323.cf2a9c","type":"function","z":"67b204c8.85945c","name":"Multiple bits","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"slave\", \n    \"port\": \"502\", \n    \"slave\": 1,\n    \"addr\": 10,\n    \"len\": 4,\n    \"data\": [1,0,1,0]\n};\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":280,"wires":[["af064089.c4d45"]]},{"id":"7634f80.7c75408","type":"function","z":"67b204c8.85945c","name":"Dec","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"slave\", \n    \"port\": \"502\", \n    \"slave\": 1, \n    \"addr\": 10,\n    \"len\": 4,\n    \"hex\": false,\n    \"data\": \"11,22,33,44\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":320,"wires":[["af064089.c4d45"]]},{"id":"351434e.73b88cc","type":"function","z":"67b204c8.85945c","name":"Hex","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload;\n\nmsg.url = uri + fc;\nmsg.payload = { \n    \"ip\": \"slave\", \n    \"port\": \"502\", \n    \"slave\": 1,\n    \"addr\": 10,\n    \"len\": 4,\n    \"hex\": true,\n    \"data\": \"ABCD1234EFAB1234\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":360,"wires":[["af064089.c4d45"]]},{"id":"7b182af8.a61874","type":"inject","z":"67b204c8.85945c","name":"FC1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":400,"wires":[["30f3a649.06f12a"]]},{"id":"2f20ae89.0acba2","type":"http request","z":"67b204c8.85945c","name":"READ","method":"GET","ret":"obj","url":"","tls":"","x":554,"y":740,"wires":[["86701191.abd6a"]]},{"id":"86701191.abd6a","type":"debug","z":"67b204c8.85945c","name":"Result","active":true,"console":"false","complete":"payload","x":694,"y":740,"wires":[]},{"id":"388cab65.9e67a4","type":"inject","z":"67b204c8.85945c","name":"FC2","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":440,"wires":[["30f3a649.06f12a"]]},{"id":"30f3a649.06f12a","type":"function","z":"67b204c8.85945c","name":"FC{1,2}","func":"\nvar uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc = msg.payload,\n    ip = \"slave\",\n    port = 502,\n    slave = 1,\n    addr = 10,\n    len = 4;\n\nmsg.url = uri + fc + \n    \"?ip=\" + ip + \n    \"&port=\" + port +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr + \n    \"&len=\" + len;\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":420,"wires":[["2f20ae89.0acba2"]]},{"id":"cc7f32a5.34852","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - Register","func":"var uri = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip = \"slave\",\n    port = 502,\n    slave = 1,\n    addr = 10,\n    len = 10,\n    type = 1;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type;\n\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":500,"wires":[["2f20ae89.0acba2"]]},{"id":"e3909e78.479b","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - Scale","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 3,\n    a     = 0,\n    b     = 65535,\n    c     = 100,\n    d     = 500;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&a=\"    + a     +\n    \"&b=\"    + b     +\n    \"&c=\"    + c     +\n    \"&d=\"    + d     ;\n\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":580,"wires":[["2f20ae89.0acba2"]]},{"id":"41eff829.151c88","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - 16bit (AB)","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 4,\n    order = 1;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&order=\"+ order ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":660,"wires":[["2f20ae89.0acba2"]]},{"id":"63d75b6.ee9f3a4","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - 16bit (BA)","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 4,\n    order = 2;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&order=\"+ order ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":334,"y":740,"wires":[["2f20ae89.0acba2"]]},{"id":"b9cbd9e4.8a1e78","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":480,"wires":[["cc7f32a5.34852"]]},{"id":"41b445b.ec32fbc","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":520,"wires":[["cc7f32a5.34852"]]},{"id":"edac80b6.802da","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":560,"wires":[["e3909e78.479b"]]},{"id":"6cfeccfc.5a62e4","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":600,"wires":[["e3909e78.479b"]]},{"id":"57415c70.5faff4","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":640,"wires":[["41eff829.151c88"]]},{"id":"869edbb3.ab60e8","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":680,"wires":[["41eff829.151c88"]]},{"id":"1ed14e1b.1e0ab2","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":720,"wires":[["63d75b6.ee9f3a4"]]},{"id":"5afccb6e.d845b4","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":760,"wires":[["63d75b6.ee9f3a4"]]},{"id":"bf9050fe.f6308","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - 32bit (ABCD)","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 6,\n    order = 1;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&order=\"+ order ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":820,"wires":[["2f20ae89.0acba2"]]},{"id":"32f1515d.6061de","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - 32bit (CDAB)","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 6,\n    order = 2;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&order=\"+ order ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":900,"wires":[["2f20ae89.0acba2"]]},{"id":"c86f1498.69f038","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":800,"wires":[["bf9050fe.f6308"]]},{"id":"d65f2080.7c36f","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":840,"wires":[["bf9050fe.f6308"]]},{"id":"7893a9cb.732388","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":880,"wires":[["32f1515d.6061de"]]},{"id":"a788b51.f8f5c48","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":920,"wires":[["32f1515d.6061de"]]},{"id":"b02001bf.d424f","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - Float (ABCD)","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 8,\n    order = 1;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&order=\"+ order ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":980,"wires":[["2f20ae89.0acba2"]]},{"id":"4196a50f.eb82fc","type":"function","z":"67b204c8.85945c","name":"FC{3,4} - Float (CDAB)","func":"var uri   = \"http://web:8080/api/mb/tcp/fc/\",\n    fc    = msg.payload,\n    ip    = \"slave\",\n    port  = 502,\n    slave = 1,\n    addr  = 3,\n    len   = 4,\n    type  = 8,\n    order = 2;\n\nmsg.url = uri+ fc    + \n    \"?ip=\"   + ip    + \n    \"&port=\" + port  +\n    \"&slave=\"+ slave +\n    \"&addr=\" + addr  + \n    \"&len=\"  + len   +\n    \"&type=\" + type  +\n    \"&order=\"+ order ;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":1060,"wires":[["2f20ae89.0acba2"]]},{"id":"e6cbc252.84451","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":960,"wires":[["b02001bf.d424f"]]},{"id":"1b7990f8.4f704f","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":1000,"wires":[["b02001bf.d424f"]]},{"id":"b4fa8d05.936ba","type":"inject","z":"67b204c8.85945c","name":"FC3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":1040,"wires":[["4196a50f.eb82fc"]]},{"id":"2229b30f.00c0ec","type":"inject","z":"67b204c8.85945c","name":"FC4","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":1080,"wires":[["4196a50f.eb82fc"]]},{"id":"eeb16103.2fb26","type":"inject","z":"67b204c8.85945c","name":"FC6","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":200,"wires":[["e8438b39.cbd038"]]},{"id":"afdbd18d.ce1b9","type":"inject","z":"67b204c8.85945c","name":"FC6","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":240,"wires":[["9c016224.5862b"]]},{"id":"68b7092c.4c0808","type":"inject","z":"67b204c8.85945c","name":"FC16","topic":"","payload":"16","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":320,"wires":[["7634f80.7c75408"]]},{"id":"12624796.d09258","type":"inject","z":"67b204c8.85945c","name":"FC16","topic":"","payload":"16","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":360,"wires":[["351434e.73b88cc"]]},{"id":"5832ccea.378b54","type":"inject","z":"67b204c8.85945c","name":"FC15","topic":"","payload":"15","payloadType":"str","repeat":"","crontab":"","once":false,"x":114,"y":280,"wires":[["693c4323.cf2a9c"]]}]